<header-register
  [url]="'register/register-welcome'"
  [value]="0.4"
  [buffer]="0.6"
></header-register>

<ion-content>
  <div class="container">
    <div class="text-container">
      <ion-text><strong>Soy</strong></ion-text>
    </div>
    <div class="btn-medium-container">
      <ion-button [ngClass]="(gender.isSelected) ? 'btn-color-pink' : '.'" (click)="selectSex(i)" *ngFor="let gender of genderValues let i = index">{{gender.name | uppercase}}</ion-button>
    </div>
    <div class="bottom-container">
      <div class="checkbox-container">
        <ion-checkbox (ionChange)="onCheckBox($event.detail.checked)"></ion-checkbox>
        <ion-label>Mostar mi genero en mi perfil</ion-label>
      </div>
      <app-buttom-register (onSendData)="sendData()" [url]="'register/register-orientation'" [isDisabled]="disableButton" [title]="'Continuar'"></app-buttom-register>
    </div>
  </div>
</ion-content>
