<header-register [url]="'login'" [value]="0.2" [buffer]="0.4"></header-register>

<ion-content>
  <div class="container">
    <div class="img-container">
      <ion-img src="../../../assets/image/Tinder-simbolo.jpg"></ion-img>
    </div>

    <ion-text>
      <strong>
        Te damos la bienvenida a Tinder. Por favor, sigue estas reglas.
      </strong>
      <br />
      <br />
      actualmente
    </ion-text>

    <ion-text>
      <strong>Cuidate.</strong>
      <br />
      No des tu informacion personal demasiado pronto. Ten cautelaen tus citas
    </ion-text>

    <ion-text>
      <strong>Tomalo con calma.</strong>
      <br />
      Respeta a los demas y tratalos como te gustaria que te trataran.
    </ion-text>

    <ion-text>
      <strong> Toma la iniciativa. </strong>
      <br />
      Siempre denuncia el mal comportamiento
    </ion-text>

    <app-buttom-register
      [url]="'/register/register-gender'"
      [isDisabled]="false"
      title="continuar"
      class="btn"
    ></app-buttom-register>
  </div>
</ion-content>
