@import "./../../../styles/color.scss";

ion-text {
  color: $color-grey;
  margin: 10px;
  font-style: italic;
  font-size: 16px;
  max-width: 80%;
}

ion-img {
  width: 65px;
  height: 65px;
}

.img-container {
  display: flex;
  justify-content: start;
  align-items: start;
  width: 80%;
  margin: 10px;
}

.container {
  display: flex;
  height: 100%;
  align-items: center;
  flex-direction: column;
}

.btn {
  margin: 20px;
}