.showme-container {
    height: 100%;  
    display: flex;  
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.buttons-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

ion-button {
    --border-radius: 45px;
    --border-color: gray;
    --background: white;
    color: gray;
    border-width: 2px;
    border: solid;
    border-radius: 45px;
    width: 80%;
    font-size: 25px;
    height: 3.5rem;
}

.button-selected {
    color: red;
}

.text-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30%;

    ion-text{
        font-size: 40px;
    }
}

.button-container{
    width: 80%;
}