$color-pink: #e00028;
$color-orange: #eb3b21;
$color-light-grey: #e0e0e0;
$color-grey: #777777;
$color-dark-grey: #333333;

$button-gradient: linear-gradient(89.82deg, #eb3b21 0.11%, #e00028 99.84%);
$background-gradient: linear-gradient(
  180deg,
  #fda015 0%,
  #eb3b21 51.04%,
  #e00028 100%
);
