<header-register
  [url]="'/register/register-gender'"
  [value]="0.6"
  [buffer]="0.8"
  (onBack)="onBack()"
></header-register>

<ion-content>

  <div class = "content-container">
    <div class="title-container">
      <ion-label>Mi orientacion sexual es</ion-label>
      <ion-label>Elige hasta 3 opciones</ion-label>
    </div>

    <div class = "list-orientation">
      <ion-item *ngFor = "let orientation of orientations; let i = index" (click)="onSelectOrientation(i, !orientations[i].isSelected)">
        <ion-label>
          {{ orientation.name }}
        </ion-label>
        <ion-icon class="custom-icon" *ngIf="orientation.isSelected" name="checkmark-outline"></ion-icon>
      </ion-item>
    </div>

    <div class="checkbox-container">
      <ion-checkbox (ionChange)="checked($event.detail.checked)"></ion-checkbox>
      <ion-label>Mostrar mi orientacion en mi perfil</ion-label>
    </div>

    <div class = "button-container">
      <app-buttom-register [title]="'CONTINUAR'" [isDisabled]="disableButton" [url]="'/register/register-showme'" (onSendData)="sendData()"></app-buttom-register>
    </div>
  </div>
</ion-content>
