<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back-outline" style="zoom:2.5; margin-left: 0.4rem;"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class = "content-container">
    <div class="title-container">
      <ion-label>Mi orientacion sexual es</ion-label>
      <ion-label>Elige hasta 3 opciones</ion-label>
    </div>

    <div class = "list-orientation">
      <ion-item>
        <ion-label>
          Heterosexual
        </ion-label>
      </ion-item><ion-item>
        <ion-label>
          Gay
        </ion-label>
      </ion-item><ion-item>
        <ion-label>
          Lesbiana
        </ion-label>
      </ion-item><ion-item>
        <ion-label>
          Bisexual
        </ion-label>
      </ion-item><ion-item>
        <ion-label>
          Item
        </ion-label>
      </ion-item><ion-item>
        <ion-label>
          Item
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          Item
        </ion-label>
      </ion-item><ion-item>
        <ion-label>
          Item
        </ion-label>
      </ion-item><ion-item>
        <ion-label>
          Item
        </ion-label>
      </ion-item><ion-item>
        <ion-label>
          Item
        </ion-label>
      </ion-item>
    </div>
  </div>
</ion-content>
