@import "./../../../styles/color.scss";

ion-text {
  color: $color-dark-grey;
  margin: 15px;
  font-weight: bold;
  margin: 15px;
  font-style: italic;
  font-size: 18px;
}

ion-button {
  --color: white;
  font-weight: bold;
  font-size: 15px;
  --border-radius: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
  height: 50px;
  width: 80%;
  --background: linear-gradient(89.82deg, #eb3b21 0.11%, #e00028 99.84%);
}

ion-input {
  border-width: 1px;
  max-width: 80%;
  border-bottom-style: solid;
  margin: 5px;
  max-height: 40px;
  border-color: $color-light-grey;
}

.container {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  flex-direction: column;
}
