<header-register
  [url]="'register/register-showme'"
  [value]="1"
  (onBack)="onBack()"
></header-register>

<ion-content>
  <div class="container" [formGroup]="personalForm">
    <ion-text>Escribe tu nombre</ion-text>
    <ion-input type="text" formControlName="name"></ion-input>
    <ion-text>Cual es tu edad?</ion-text>
    <ion-input type="number" formControlName="age"></ion-input>

    <app-buttom-register
      [url]="'register/register-credentials-info'"
      [isDisabled]="false"
      title="continuar"
      class="btn"
      (onSendData)="onPersonal(true)"
    ></app-buttom-register>
  </div>
</ion-content>
