<ion-content>
  <div class = "tinder-container" style = "height: 40%;">
    <h1>tinder</h1>
  </div>
  <div class = "content-layout">
    <div class = "layout-child">
      <div class="inputs-container">
        <ion-label class = "user-label">Usuario</ion-label>
        <ion-input class = "input-user"></ion-input>
        <ion-label class = "password-label">Contraseña</ion-label>
        <ion-input class = "input-password"></ion-input>
      </div>
      <ion-button>Iniciar Sesion</ion-button>
      <ion-label class = "input-register">Deseas Registrarte?</ion-label>
    </div>
  </div>
</ion-content>