<ion-content>
  <div class = "tinder-container" style = "height: 40%;">
    <!-- <ion-img src="/assets/image/image2vector.svg"></ion-img> -->
    <div id = "nobackground"></div>
    <h1>tinder</h1>
  </div>
  <div class = "content-layout">
    <div class = "layout-child">
      <div class="inputs-container" [formGroup]="loginForm">
        <ion-label class = "user-label" >Usuario</ion-label>
        <ion-input class = "input-user" formControlName="username"></ion-input>
        <ion-label class = "password-label">Contraseña</ion-label>
        <ion-input class = "input-password" type = "password"  formControlName="password" ></ion-input>
      </div>
      <ion-button (click)="onLogin()">Iniciar Sesion</ion-button>
      <ion-label class = "input-register" routerLink = "/register/register-welcome">¿Deseas Registrarte?</ion-label>
    </div>
  </div>
</ion-content>