<ion-content>
  <div class="container">
    <div class="container-info">
      <!-- <ng-container *ngIf="image; else img_default">
    <img (click)="modificarImg()" [src]="image" />
  </ng-container> -->
      <!-- <ng-template #img_default> -->
      <img src="../../../assets/image/user-default.png" />
      <!-- </ng-template> -->
      <ion-text>Luis,22</ion-text>
      <ion-text>URU</ion-text>
    </div>

    <div class="container-btn">
      <ion-button class="btn-border"></ion-button>
      <ion-button class="btn-center"></ion-button>
      <ion-button class="btn-border"></ion-button>
    </div>
    <div class="div-line"></div>
  </div>
</ion-content>
