<header-register
  [url]="'register/personal-information'"
  [value]="1"
  (onBack)="onBack()"
></header-register>

<ion-content>
  <div class="container">
    <div [formGroup]="credentialsForm">
      <ion-text>Nombre de Usuario</ion-text>
      <ion-input type="text" formControlName="username"></ion-input>
      <ion-text>Contraseña</ion-text>
      <ion-input type="password" formControlName="password"></ion-input>
      <ion-text>Confirmar Contraseña</ion-text>
      <ion-input type="password" formControlName="confirmPassword"></ion-input>
    </div>

    <app-buttom-register
      [url]="'login'"
      [isDisabled]="false"
      title="continuar"
      class="btn"
      (onSendData)="onCredential()"
    ></app-buttom-register>
    <ion-button (click)="onCredential()"></ion-button>
  </div>
</ion-content>
